
.min-h-screen{
    font-family: 'Rugrats Sans', sans-serif!important;
}
td:nth-child(1){
    font-family: 'Rugrats Sans' , sans-serif!important;  
    font-weight: 700;
    

}
td:nth-child(2){
    font-family: 'Rugrats Sans' , sans-serif!important;  
    /* font-weight: 700; */
    
}
.postion_set{
    position: relative !important;
    left: 30px;
}

.pdf_box{
   
    padding: 20px;
    max-width: 900px;
    width: 100%;
    border: 1px solid ;
    margin: auto;
}
.pdf-logo img{
    width:120px;
}
.title_pdf p{
    font-size:25px;
    font-family:sans-serif;
    font-weight: 700;
    
}


.print-page{
   max-width:900px;
   width: 100%;
    margin: auto;
}
.border-top{
    border-top: 2px solid !important;
}
.border-bottom{
    border-bottom: 2px solid !important;
}
table ,th{
    border: none!important;
}




.pdf-card {
  width: 480px;
  height: auto;
  background:#fff;
  border-radius: 8px;
  padding: 8px;
  font-size: 25px;
  line-height: 1;
  position: relative;
  page-break-inside: avoid;
  margin-top: 60px;
  margin-bottom: 130px;
  margin-left: -90px;
  /* border: 1px solid ; */
}
@media screen and (min-width:320px) and (max-width:1024px) {
    .pdf-card {
width: 100%;
  height: auto;

  /* background:#ff0505; */
  border-radius: 8px;
  padding: 8px;
  font-size: 14px;
  line-height: 1;
  position: relative;
  page-break-inside: avoid;
  /* margin-top: 60px; */
  margin-bottom: 130px;
  /* margin-left: -90px; */
  /* border: 1px solid ; */
  margin: auto;
}
/* .box_card{
    width: 100%;
    overflow: scroll;
    padding: 10px;
} */
td:nth-child(1){
    font-family: 'Rugrats Sans' , sans-serif!important;  
    font-weight: 700;
    font-size: 12px;
    

}
td:nth-child(2){
    font-family: 'Rugrats Sans' , sans-serif!important;  
     font-size: 12px;
    
}
}

